**WORKsheet1**

**`Q1`**

In [ ]:
print(""""Twinkle, twinkle, little star, How I wonder what you are! Up above
the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what
you are". """)

"Twinkle, twinkle, little star, How I wonder what you are! Up above
the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what
you are".

**Q2**

In [ ]:
f=input("Enter first name: ")
l=input("Enter last name: ")
print(l,f)

Enter first name: 2
Enter last name: 2
2 2

***Q3***

In [ ]:
r=float(input("Enter radius: "))
a=3.14159*r*r
print(a)

Enter radius: 45
6361.719749999999

**Q4**

In [ ]:
c=["Red","Green","White","Black"]
print(c[0],c[-1])

Red Black

**Q5**

In [ ]:
n=int(input("Enter number: "))
print(n+n*n+n*n*n)

**Q6**

In [ ]:
s=input("Enter numbers: ")
l=s.split(",")
t=tuple(l)
print(l)
print(t)

**Q7**

In [ ]:
c=float(input("Enter Celsius: "))
f=(c*9/5)+32
print(f)

**Q8**

In [ ]:
x=int(input("Enter first: "))
y=int(input("Enter second: "))
x,y=y,x
print(x,y)

**Q9**

In [ ]:
n=int(input("Enter number: "))
if n%2==0:
    print("Even")
else:
    print("Odd")

**Q10**

In [ ]:
y=int(input("Enter year: "))
if(y%4==0 and y%100!=0) or (y%400==0):
    print("Leap")
else:
    print("Not Leap")

Q11

In [ ]:
x1,y1=map(int,input("Enter x1 y1: ").split())
x2,y2=map(int,input("Enter x2 y2: ").split())
d=((x2-x1)**2+(y2-y1)**2)**0.5
print(d)

**Q12**

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a+b>c and a+c>b and b+c>a:
    print("Triangle")
else:
    print("Not Triangle")

**Q13**

In [ ]:
p=float(input("P: "))
r=float(input("R: "))
t=float(input("T: "))
a=p*(1+r/100)**t
print(a)

**Q14**

In [ ]:
n=int(input())
f=0
if n>1:
    for i in range(2,n):
        if n%i==0:
            f=1
            break
if f==0 and n>1:
    print("Prime")
else:
    print("Not Prime")

**Q15**

In [ ]:
n=int(input())
s=0
for i in range(1,n+1):
    s+=i**2
print(s)